@CHARSET "ISO-8859-1";

#title {
	border-style: solid;
}

#nav {
	border-style: solid;
}

#nav ul li {
	display:inline;
	height:auto;
}

#content {
	border-style: solid;
}

#footer {
	border-style: solid;
}

.post-dia {
	border-style: solid;
}