@CHARSET "ISO-8859-1";

#nav ul li {
	display:inline;
	height:auto;
	align-items: center;
}

#nav ul li+li {
	margin-left: 40px;
}

#nav ul li a {
	text-decoration: none;
	font: normal normal normal 15px/1.4em droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif;
    line-height: normal;
    color: rgba(244,129,107,1);	
}

#content {
	border-color: rgba(227,227,227,0.75);
	border-width: 1px;
	border-style: solid;
	padding: 10px;
}

.post {
	border-color: rgba(227,227,227,0.75);
	border-width: 1px;
	border-style: solid;
	margin: 10px;
	padding: 10px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#box {
  padding-top: 1px;
  width: 100%;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}